* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  background: #eee;
  color: #333;
}

.form-group,
.form-group label,
.form-group input {
  font-family: "Crimson Text", serif;
  color: rgb(88, 89, 91);
  font-size: large;
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group label {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
}

.form-group input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline-width: 0;
  font-size: 1rem;
}

.form-group input:focus {
  border-bottom: 3px solid rgb(219, 197, 190);
}

.btnn {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 8px 16px;
  font-size: 1rem;
  background: rgb(219, 197, 190);
  color: #f4f4f4;
  border: 1px solid rgb(219, 197, 190);
}

.btnn:hover {
  background-color: #f4f4f4;
  color: rgb(88, 89, 91);
  border: 1px solid rgb(88, 89, 91);
}

.err {
  width: 100%;
  display: inline;
  color: orange;
  text-align: center;
  padding-top: 0px;
  margin: 0.5rem 0;
} /*

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
} */

.register-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-screen__form {
  width: 380px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: #fff;
}

.register-screen__title {
  font-family: "Crimson Text", serif;
  letter-spacing: 0.05em;
  color: rgb(88, 89, 91);
  text-align: center;
  margin-bottom: 1rem;
}

.register-screen__subtext {
  font-size: 0.7rem;
  display: block;
  margin: 0.5rem 0;
}
