.login_butt {
  color: rgb(88, 89, 91);
  font-family: cursive;
  font-size: 30px;
}
.login_but {
  color: rgb(88, 89, 91);
  font-family: "Crimson Text", serif;
  font-size: 18px;
}

.mar {
  margin-top: 20px;
}

.login_butt:link {
  text-decoration: none;
  color: rgb(219, 197, 190);
}
.login_butt:hover {
  color: rgb(219, 197, 190);
}

.login_butt_but {
  padding: 2px;
  border: none;
}

.logout_butt_but {
  padding: 30px;
  font-family: "Crimson Text", serif;
  border: none;
  background-color: rgb(250, 250, 250);
}

.color {
  color: rgb(219, 197, 190);
}
